/* ==========================================================================
    GLOBAL 
   ========================================================================== */
   // MIXINS
@mixin button-red() {
    background-color:$primary-color;
    padding:15px;
}
   @import url('https://fonts.googleapis.com/css?family=Comfortaa');
   @import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
select{
    text-overflow: ellipsis !important;
    overflow:hidden !important;
}
ul {
    margin:0;
}


h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}
.hide {
	display: none;
}
a:hover {
    text-decoration: none;
}

// VARS
$active-color:#c83626;
$font-stack: 'Comfortaa', Helvetica;
$primary-color:#181818;
$secondary-color:#2b2b2b;
$tertiary-color:#ebebeb;
$success-color:#4abe93;
$radius: 5px;
$tablet-width: 768px;
$desktop-width: 1024px;
$wide-desktop-width:1200px;
$gradientone-color:#c92525;
$gradienttwo-color:#b32222;
.dota-logo {
    color:$tertiary-color;
}
.active-text {
    color:$active-color !important;
}

select {
    background-color:white;
}
main {
    background: $tertiary-color;
    border-radius: 5px;
}

body {
    // background:url("../img/background.jpg");
    background-color:$primary-color;
    background-position:center no-repeat;
    background-size:cover no-repeat;
    // background-color:$secondary-color;
    font-family:$font-stack;
    padding-bottom:30px;
    margin-bottom:30px;
}
.container {
    padding-bottom:80px;
}
.last {
    padding-bottom:80px;
}
/* ==========================================================================
    NAV BAR
   ========================================================================== */
.logo {
    margin-left:auto;
    margin-right:auto;
}
.logo-img {
    height:4rem;
    cursor:pointer;
}
ul {
    padding: 0;
    list-style: none;
}
  .main-nav {
    display: flex;
    height: 50px;
    align-items: center;
    margin:0;
    padding:10px;
    // background-color:#c83626;
    background-position: 0;
    background-image: linear-gradient(
        $gradientone-color 50%, 
        $gradienttwo-color 50%
        );
    outline: none !important;
    border-radius:5px;
}
.main-nav 
    { 
    li {
    padding:20px;
    }
    a {
    text-decoration:none;
    color:white;
    font-size:1rem;
    }
}

.main-nav-phone {
    display:flex;
    flex-direction:column;
    text-align:center;
    display:none;
    margin-top:0;
}
.main-nav-phone li {
    padding:15px;
    color:white;
    list-style:none;
    // background-color:black;
    background-image: linear-gradient($secondary-color);
    color:$primary-color;
    font-size:15px;
    font-weight:700;
    background-color:$primary-color;
    border:$secondary-color 1px solid;
    color:white;
}
.main-nav-phone a {
    text-decoration: none;
}
.main-nav-phone a li:hover {
    background-color:#2b2b2b;
    transition:0.3s;

}

.support-nav {
    display:flex;
    flex-direction:column;
    text-align:center;
    display:none;
    margin-top:0;
}
.support-nav li {
    padding:15px;
    color:white;
    list-style:none;
    background-color:black;
    color:$primary-color;
    font-size:15px;
    font-weight:700;
    background-color:$primary-color;
    border:$secondary-color 1px solid;
    color:white;
}
.support-nav a {
    text-decoration: none;
}
.support-nav a li:hover {
    background-color:#333;
    transition:0.3s;

}

/* ==========================================================================
    INDEX.HTML
   ========================================================================== */
.quiz-items {
    width:90%;
    margin:20px auto;
}
.select-button {
    @include button-red();
    border:none;
    color:white;
    width:80%;
}
.select-language {
    width:80%;
    height:40px;
    margin-bottom:20px;
}
.eat-in {
    width:45%;
    height:100%;
    background-color:$primary-color;
    float:left;
    color:white;
    text-align:center;
    font-size:21px;
    margin:2.5%;
    cursor:pointer;
    display:flex;
}

.takeaway {
    display:flex;
    width:45%;
    height:100%;
    background-color:#fff;
    float:left;
    color:black;
    text-align:center;
    font-size:21px;
    margin:2.5%;
    cursor:pointer;
}
.eat-in-takeaway-wrapper {
    margin:30px auto 0 auto;
    height:250px;
    width:90%;
}
.continue-text {
    clear:both;
    color:#ebebeb;
    text-align:center;
    font-size:14px;
    cursor:pointer;
    padding-top:20px;
    text-decoration:underline;
}
/* ================
    WEBSITE.HTML
================== */
.find-your-local-text {
    color:white;
    padding:30px;
    clear:both;
}
.inside-renkon-container {
    width:90%;
    margin:0 auto;
    background-color:#131313;
    text-align:center;
    color:white;
    img {
        width:90%;
        padding:5% 0% 5% 0%;
    }
    h3 {
        width:80%;
        margin:0 auto;
        line-height:40px;
    }
    button {
        @include button-red();
        border:none;
        width:60%;
        height:40px;
        margin-top:10px;
    }
}
.find-your-local-div {
    input {
        height:50px;
        width:68%;
        float:left;
    }
    button {
        background-color:$primary-color;
        height:50px;
        width:30%;
        margin-left:2%;
        border:none;
        color:white;
        float:left;
    }
    width:90%;
    margin:0 auto;
}
.eat-in-website {
    width:45%;
    height:100%;
    background-color:$primary-color;
    float:left;
    color:white;
    text-align:center;
    font-size:21px;
    cursor:pointer;
    padding:10px 0px 10px 0px;
    margin:2.5%;
}

.takeaway-website {
    margin:2.5%;
    width:45%;
    height:100%;
    background-color:#fff;
    float:left;
    color:black;
    text-align:center;
    font-size:21px;
    cursor:pointer;
    padding:10px 0px 10px 0px;

}
.website-wrapper {
    margin:0 auto;
    width:90%;
}
/* ==========================================================================
  TAB BAR
   ========================================================================== */
.tab-bar {
    display:flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    background-position: 0;
    background-image: linear-gradient(
        $gradientone-color 50%, 
        $gradienttwo-color 50%
        );
    outline: none !important;
    // background-color: $primary-color;
    color: white;
    text-align: center;
    justify-content:space-around;
    align-items:center;
    z-index:2;
}
.tab-bar li {
    list-style:none;
    width:20%;
    cursor:pointer;
}
.tab-bar li a {
    color:#ebebeb;
    text-decoration:none;
}
.text-center {
    text-align:center;
}
.tab-bar i {
    color:#ebebeb;
}
.active {
    color:$primary-color !important;
}

.order-item {
    h2 {
        font-weight:900;
        font-size:16px;
        padding:10px;
    }
    h5 {
        padding:0px 0px 10px 0px;
        font-weight:500;
    }
    img {
        width:80%;
        border-radius:10px;
    }
    color:white;
    text-align:center;
    margin:3px;
}
.bg-dark{
    background-color:#181818;
}
.select-btn {
    color:white;
    // background-color:green;
    background-image: linear-gradient(
    $gradientone-color 50%, 
    $gradienttwo-color 50%
    );
    border:none;
    padding:10px;
    height:50px;
    width:80%;
    margin-top:10px;
    border-radius:10px;
    font-weight:900;
    font-size:15px;
}
.order-index {
    img {
        width:80% !important;
        margin-top:30px;
    }
}
.order-wrapper { 
    img {
        width:100%;
        height:100%;
    }
    padding:0;
}


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family:$font-stack;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
  
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



 // ================================================================================================================
            // HOVER GROW
// ================================================================================================================

/* Grow */
.hvr-grow {
    display:flex;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
    50% {
      background-color: rgb(85, 0, 0);
    }
  }
  @keyframes hvr-back-pulse {
    50% {
        background-color: rgb(85, 0, 0);      
    }
  }
  .hvr-back-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: $primary-color;
    background-color: $primary-color;
    color: white;
  }
  

   // ================================================================================================================
            //TABLET VERSION TYPE-SIDE.HTML
// ================================================================================================================
@media screen and (max-width: 350px) {

    .order-item {
        h5 {
            display:none;
        }
        h2 {
            padding:2px;
        }
    }
}

// MODAL

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #181818;
    margin: 15% auto; /* 15% from the top and centered */
    padding:0px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity:1;
    padding:10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    color:black;
    img {
        width:100%;
    }
    i {
        font-size:20px;
        padding:10px;
        background-color:black;
        color:white;
        border-radius:10px;
        margin-bottom:10px;
    }
    input {
        width:100%;
        height:40px;
        margin-top:10px;
        padding:10px;
    }
    button {
        width:100%;
        background-image: linear-gradient(
            $gradientone-color 50%, 
            $gradienttwo-color 50%
            );
        margin-top:10px;
        color:white;
        height:40px;
        border:none;
    }
}

// SOCIAL ICONS - FACEBOOK BOMB REVEAL

.reveal, .bomb {
    cursor:pointer;
}